
@{
    ViewBag.Title = "我的服务";
}
@section page_specific_plugin_styles
{
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/assets/css/ui.jqgrid.min.css" />
}

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="search-area well">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input class="form-control" id="productNamesearch" value="" placeholder="服务名称" type="text">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-sm" id="searchvipbtn">
                                    <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a href="#addproduct-modal" role="button" class="btn btn-sm btn-primary" data-toggle="modal">
                            添加服务
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <table id="grid-table"></table>
        <div id="grid-pager"></div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
@Html.Partial("_PartialAddProduct")
@section customJs
{
    <script type="text/javascript">
        function updatePagerIcons(table) {
            var replacement =
                {
                    'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                    'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                    'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                    'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
                };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }

        function enableTooltips(table) {
            $('.navtable .ui-pg-button').tooltip({ container: 'body' });
            $(table).find('.ui-pg-div').tooltip({ container: 'body' });
        }
        function LoadData(grid_selector) {
            $(grid_selector).jqGrid('setGridParam', {
                datatype: 'json',
                postData: { 'productName': $("#productNamesearch").val() },
                page: 1
            }).trigger("reloadGrid");
        }
        jQuery(function ($) {

            $("#add-save").click(function () {

                if (!$("#add-productname").val())
                {
                    alert("服务名称为必填项");
                    return;
                }
                var data = new Object();
                data.phone = $("#add-phone").val();

               data.nickname = $("#add-nickname").val();
               data.gender = $("#add-gender").val();
               data.level = $("#add-level").val();
               data.month = $("#add-month").val();
               data.day = $("#add-day").val();
               data.remark = $("#add-remark").val();

               $.post("/vip/Add", data, function (result) {

                   alert("创建会员成功");
                });

            });
            var grid_selector = "#grid-table";
            var pager_selector = "#grid-pager";
            var parent_column = $(grid_selector).closest('[class*="col-"]');

            $("#searchvipbtn").click(function () {
                LoadData(grid_selector);

            });
            //resize to fit page size
            $(window).on('resize.jqGrid', function () {
                $(grid_selector).jqGrid('setGridWidth', parent_column.width());
            });

            //resize on sidebar collapse/expand
            $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
                if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                    //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                    setTimeout(function () {
                        $(grid_selector).jqGrid('setGridWidth', parent_column.width());
                    }, 20);
                }
            });

            function PhoneLink(vellvalue,options,rowobj)
            {
                return "<a href='/vip/detail/" + rowobj.ID+"' >"+ rowobj.PhoneNum + "</a>";
            }
            jQuery(grid_selector).jqGrid({
                url: '/vip/members',
                datatype: "json",
                height: "100%",
                colNames: ['手机号', '昵称', '性别', '余额', '更新日期', '备注'],
                colModel: [
                    { name: 'PhoneNum', index: 'PhoneNum', width: 50, sortable: false,formatter:PhoneLink },
                    { name: 'NickName', index: 'NickName', width: 30, sortable: false },
                    { name: 'Gender', index: 'Gender', width: 15, sortable: false },
                    { name: 'Amount', index: 'Amount', width: 15, sortable: false },
                    { name: 'UpdateTime', index: 'UpdateTime', width: 50, sortable: false },
                    { name: 'Remark', index: 'Remark', sortable: false }
                ],
                rowNum: 15,
                sortname: 'UpdateTime',
                sortorder: "desc",
                viewrecords: true,
                pager: pager_selector,
                multiselect: false,
                multiboxonly: false,
                jsonReader: {
                    root: "Rows",
                    page: "CurrentPage",
                    total: "TotalPage",
                    records: "TotalRecords"
                },
                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                }
            });
            $(window).triggerHandler('resize.jqGrid');

        });
    </script>

}
@section page_specific_plugin_scripts
{
    <script src="/assets/js/jquery.jqGrid.min.js"></script>
    <script src="/assets/js/grid.locale-en.js"></script>
}

