@model DF.VIP.AppService.Models.ForgetPasswordItem
@{
    ViewBag.Title = "找回密码";
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}
<div id="forgot-box" class="forgot-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header red lighter bigger">
                <i class="ace-icon fa fa-key"></i>
                找回密码
            </h4>
            <div class="space-6"></div>
            <p>输入您的手机号来找回密码 @Html.ValidationSummary() </p>
            <form action="/User/ForgetPassword" method="post">
                <fieldset>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.TextBoxFor(o => o.ForgetPasswordPhone, new { @type = "tel", @class = "form-control", @placeholder = "手机号" })
                            @Html.ValidationMessageFor(o => o.ForgetPasswordPhone)
                            <i class="ace-icon fa fa-mobile-phone"></i>
                        </span>
                    </label>
                    <div class="clearfix">
                        <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                            <i class="ace-icon fa fa-lightbulb-o"></i>
                            <span class="bigger-110">发送!</span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div><!-- /.widget-main -->

        <div class="toolbar center">
            <a href="@Url.Action("Signin")" class="back-to-login-link">
                返回到登录
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.forgot-box -->

